@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*
 * Globals
 */
body, html {
    height: 100%;
}
body {
    font-family: 'Noto Sans Japanese', sans-serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-container {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

/*
 * Override Bootstrap's default container.
 */
.container {
     padding-bottom: 150px;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * navbar
 */
.navbar-default {
  background-color: #a7d0cc;
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #eaacac;
}
.navbar-brand-div {
    width: 200px;
    text-align: center;
}
.navbar-default .navbar-brand {
    color: #317198;
    margin-top:-10px;
}
.navbar-default .navbar-brand span {
    font-size: 0.5em;
}

/* dropdown */
.dropdown-menu li {
    padding: 5px 0px;
}
.dropdown-menu .divider {
    padding: 0px;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Footer
 */
#footer{
    background-color: #a7d0cc;
    color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 10;
    padding-top: 30px;
    margin-top: 20px;
}

/*
 * ログイン画面
 */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.accordion-toggle .panel-heading {
    cursor: pointer;
}
.accordion-toggle a.panel-heading:after {
    font-family: 'FontAwesome';
    content:"\f0d8";
    float: right;
    color: inherit;
}
.accordion-toggle a.collapsed:after {
    font-family: 'FontAwesome';
    content:"\f0d7";
    float: right;
    color: inherit;
}

/*
 * テキスト
 */
@media (max-width: 768px) {
    h1,
    .h1 {
      font-size: 30px;
    }
    h2,
    .h2 {
      font-size: 24px;
    }
    h3,
    .h3 {
      font-size: 18px;
    }
    .jumbotron p {
      font-size: 16px;
    }
}

/*-------------------------------------------------------------
         テーブル
-------------------------------------------------------------*/
.myTable{
	border-collapse:collapse;
	margin: 10px auto;
	border: 1px;
	max-width: 90%;
	min-width: 500px;
}
.myTable th{
	font-weight:normal;
	border:1px solid gray;
	background:#abc1d4;
	padding:6px;
}
.myTable td{
	border:1px solid gray;
	background:#FFFFFF;
	padding:6px;
	text-align: right;
}
.myTable.td-left td{
	text-align: left;
}

/*** レスポンシブテーブルデザイン ***/
.edit-table tr{
	height: 45px;
}

@media (max-width: 600px){
  .edit-table{
    width: 100%;
    min-width: 300px;
  }
  .edit-table th{
    width:100%;
    display:block;
  }
  .edit-table td{
    display: list-item;
    list-style: none;
    width: 100%;
  }
}

/*
 * 一覧
 */
#listTableDiv{
    padding: 10px;
}
#listTable{
    border-collapse:collapse;
    margin:5px auto;
    border: 1px;
}
#listTable th{
    font-weight:normal;
    border:1px solid gray;
}
#listTable td{
    border:1px solid gray;
    padding: 10px 5px;

}
#listTable td.amount {
    text-align: right;
}